{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% include 'dashboard/sidebar.html' %}

    <div class="col-md-9">
        <h2>All Bookmarks</h2>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th>Post</th>
                <th>Author</th>
                <th>Category</th>
                <th>Saved At</th>
              </tr>
            </thead>
            <tbody>
            {% for bookmark in bookmarks %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ bookmark.user.username }}</td>
                <td><a href="{% url 'blogs' bookmark.post.slug %}">{{ bookmark.post.title }}</a></td>
                <td>{{ bookmark.post.author }}</td>
                <td>{{ bookmark.post.category }}</td>
                <td>{{ bookmark.created_at }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6">No bookmarks found.</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}
